{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="card-text">{{ post.content | safe }}</p>
                <p class="post-mood">Mood of the post: {{ post.mood }}</p>
                <p class="post-subtitle"> {{ post.created_on|date:"N j, Y" }}</p>
                <div class="post-interactions">
                    {% if user.is_authenticated %}
                    <div class="like-section mb-2">
                        <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}
                            <!-- Updated button to include "Like" text next to the heart icon -->
                            <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like">
                                <i class="fas fa-heart"></i> Like
                            </button>
                            {% else %}
                            <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like">
                                <i class="far fa-heart"></i> Like
                            </button>
                            {% endif %}
                        </form>
                    </div>
                    {% else %}
                    <div class="like-section mb-2">
                        <span class="text-secondary"><i class="far fa-heart"></i> Like</span>
                    </div>
                    {% endif %}
                    <!-- New row for Edit and Delete buttons if the user is the author -->
                    {% if user.is_authenticated and post.author == user %}
                    <div class="author-interactions">
                        <a class="btn btn-signup" href="{% url 'post_edit' post.id %}" role="button">Edit</a>
                        <a class="btn btn-danger" href="{% url 'post_delete' post.id %}" role="button">Delete</a>
                    </div>
                    {% endif %}
                </div>                
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://res.cloudinary.com/ispeakfishlang/image/upload/v1/media/django-summernote/2024-02-02/564685f6-f167-42d7-9312-7fbc0c91f6cb_hvxlau" width="100%">
                {% else %}
                <img src="{{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- Iterate through each comment -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.author }} 
                        <span class="text-muted font-weight-normal">{{ comment.created_on }}</span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                    {% if user.is_authenticated and user == comment.author %}
                    <a class="btn btn-signup" href="{% url 'comment_edit' comment.id %}" role="button">Edit</a>
                    <a class="btn btn-danger" href="{% url 'comment_delete' comment.id %}" role="button">Delete</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3 ">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a Comment:</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ comment_form | crispy }}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
